[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "statsr"]
	path = statsr
	url = https://github.com/statswithr/statsr
	shallow = true
	registered = true
